spring:
  application:
    name: store
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    show-sql: true

jwt:
  secret: ${JWT_SECRET}
  accessTokenExpiration : 7200 #2h
  refreshTokenExpiration : 604800 #7d